* {
  box-sizing: border-box;
}
body {
  padding: 5%;
  font: 16px Arial;
  background-color: #6699cc;
}

.autocomplete {
  position: relative;
  display: inline-block;
  border-radius: 50px;
}
.container {
  background-color: black;
  border: solid 5px #4d4d7e;
}
.deleteButton {
  font-weight: 900;
  background-color: #000066;
  color: white;
  border-radius: 15px;
  margin-left: 5px;
}
.main_div {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 300px;
  padding: 10px;
  border: solid 5px #4d4d7e;
  border-radius: 25px;
  background-color: rgb(218, 218, 218);
}
.addNew {
  background-color: DodgerBlue;
  color: #fff;
  font: 16px Arial;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid;
  border-radius: 50px;
}
#myInputautocomplete-list {
  border-radius: 17px;
  overflow: hidden;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  display: inline-block;
  border-radius: 50px;
}
input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
  display: inline-block;
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}
li {
  background-color: #5598b9;
  border-radius: 15px;
  width: fit-content;
  list-style: none;
  padding: 5px;
  border: solid 2px #00527a;
  margin: 2px;
}
ul {
  padding-left: 0px;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 50px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #6633cc;
  border-bottom: 1px solid #d4d4d4;
  transition: all 0.4s ease;
}
.autocomplete-items div:hover {
  background-color: #461f94;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.form {
  display: inline-block;
}
